$primario: #fd611a;
$secundario: #f44336;
$fondo: #eeeeee;
$verde: #4caf50;
$blanco: #fff;

.principal{
    color: #{$primario} !important;
}

body{
    --fondo: #{$fondo};
    background-color: var(--fondo);
    font-family: montserrat, sans-serif;
    overflow-x: hidden;
}

.nav{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: #{$blanco};
    padding: 5px 0;
}
.nav__buscar{
    min-width: 33%;
    margin: 0 1rem 0 2rem;
    .form-floating{
        min-width: 100%;
    }
}
.label-animated{
    color: gray;
    transition: 100ms !important;
}
.buscar{
    margin-top: 5px;
    margin-bottom: 1px !important;
}
.nav__buscar--buscar{
    width: 90% !important;
    height: 3.5rem;
}
#search:focus{
    border-color: #{$primario} !important;
    border-width: 2px !important;
}
.nav__buscar--logo{
    vertical-align: middle;
    position: absolute;
    margin-top: 3px;
    margin-right: 10%;
    max-width: 20px;
}
.btn-bd-primary {
    --bs-btn-font-weight: 600;
    --bs-btn-border-radius: .2rem;
    
    --bs-btn-color: #{$blanco};
    --bs-btn-bg: #{$primario};
    --bs-btn-border-color: #{$primario};

    --bs-btn-hover-color: #{$blanco};
    --bs-btn-hover-bg: #{$primario};
    --bs-btn-hover-border-color: #{$primario};

    --bs-btn-active-color: #{$blanco};
    --bs-btn-active-bg: #{darken($primario, 10%)};
    --bs-btn-active-border-color: #{darken($primario, 10%)};
}
.nav__usuario--btn{
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    height: 35px;
    width: 170px;
    font-size: 13px;
}
.nav__usuario--logo {
    vertical-align: middle;
    max-width: 20px;
    filter: invert(1);
    margin-right: 4px;
}
.nav__usuario--carrito {
    position: relative;
    display: inline-block;
    img{
        max-width: 30px;
    }
    margin-left: 25px;
}

.nav__usuario--contador {
    position: absolute;
    top: -10px; 
    right: -10px; 
    background-color: #{$secundario};
    color: white; 
    border-radius: 50%; 
    width: 20px; 
    height: 20px; 
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #{$primario};
    min-height: 5rem;
    padding: 25px;
    a, a:hover{
        color: #{$blanco};
    }
    h5{
        color: #{$blanco};
    }
}
.footer{
    display: grid;
    grid-template-columns: 1.8fr 1fr 1fr 1.8fr
}
.foot{
    padding: 50px 25px;
    border-left: 1px groove #{lighten($primario, 20%)};
}
.foot--img{
    display: flex;
    max-height: 100px;
}
.foot__1{
    display: flex;
    justify-content: end;
    align-items: center;
    border-left: none;
}
.foot__2{
    display: flex;
    flex-direction: column;
    button, a{
        margin: 5px auto;
    }
}
.foot__2--btn1{
    --bs-btn-font-weight: 400;
    --bs-btn-border-radius: .4rem;
    
    --bs-btn-color: #{$primario};
    --bs-btn-bg: #{$blanco};
    --bs-btn-border-color: #{$primario};

    --bs-btn-hover-color: #{$blanco};
    --bs-btn-hover-bg: #{$primario};
    --bs-btn-hover-border-color: #{$blanco};

    --bs-btn-active-color: #{$blanco};
    --bs-btn-active-bg: #{$primario};
    --bs-btn-active-border-color: #{$blanco};
    transition: 100ms;
    font-size: 15px;
}
.foot__2--btn2{
    --bs-btn-font-weight: 400;
    --bs-btn-border-radius: .4rem;
    
    --bs-btn-color: #{$blanco};
    --bs-btn-bg: #{$primario};
    --bs-btn-border-color: #{$blanco};

    --bs-btn-hover-color: #{$primario};
    --bs-btn-hover-bg: #{$blanco};
    --bs-btn-hover-border-color: #{$primario};

    --bs-btn-active-color: #{$primario};
    --bs-btn-active-bg: #{$blanco};
    --bs-btn-active-border-color: #{$primario};
    transition: 100ms;
    font-size: 15px;
    width: max-content;
}
.foot__3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    a{
        border-radius: 100%;
        margin: 5px;
    }
}
.foot__redes{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #{$primario};
    justify-content: center;
    .img{
        max-width: 25px;
        margin: 5px;
        filter: brightness(0) invert(1);
    }
    .cbtn{
        padding: 3px;
        border: solid #{$blanco} 1px;
        border-radius: 100%;
        transition: 100ms;
    }
    .cbtn:hover{
        background-color: #{$blanco};
        .img{
            filter: none;
        }
    }
}
.foot__4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    img, a{
        margin: 5px auto;
    }
}

.shadow-off{
    box-shadow: none !important;
}

// Login

.btn-crear-cuenta{
    --bs-btn-font-weight: 600;
    --bs-btn-border-radius: .2rem;
    
    --bs-btn-color: #{$primario};
    --bs-btn-bg: #{$blanco};
    --bs-btn-border-color: lightgray;

    --bs-btn-hover-color: #{$primario};
    --bs-btn-hover-bg: #{$blanco};
    --bs-btn-hover-border-color: lightgray;

    --bs-btn-active-color: #{$primario};
    --bs-btn-active-bg: #{lighten($primario, 40%)};
    --bs-btn-active-border-color: lightgray;
}
.login{
    justify-content: center;
    animation: menuIn 100ms;
}
@keyframes menuIn{
    from{
        transform: scale(0);
    }
    to{
        transform: scale(1);
    }
}
.login-titulo{
    display: flex;
    flex-direction: column;
    align-items: center;
    small{
        color: #{$primario};
    }
}
.login-content{
    min-width: 580px !important;
    border-radius: 5px;
}
.login-body{
    margin: 15px 50px;
    font-size: 15px !important;
    .label-animated{
        color: #{$secundario} !important;
    }
}
.login-btn-close{
    border-radius: 100%;
    opacity: 100%;
    margin-top: 2%;
    margin-left: 95%;
    background-color: gray;
    max-width: 5px !important;
    max-height: 5px !important;
    background-size: 9px !important;
    filter: invert(1);
    padding: 7px !important;
}
.login-control{
    border-radius: 0;
    border-style: none none solid none;
    border-bottom-color: #{$secundario};
}
.login-control:focus{
    border-width: 2px !important;
    border-bottom-color: #{$secundario};
}
.login-footer{
    display: flex;
    flex-direction: column;
    text-align: center;
    :nth-child(2){
        margin-top: 8px;
    }
}

.error-form{
    position: fixed;
    z-index: 2;
    width: 100%;
}

// Menú

.menu{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #{$primario};

    div{
        margin: 0 1.1rem;
        padding: 1.2rem 0;
        width: 160px;
        text-align: center;
    }
    a{
        font-family: montserrat;
        font-size: 15px;
        font-weight: 600;
        color: black;
        text-decoration: none;
    }
    a:hover{
        color: #{$blanco};
    }
}

// Sponsors

#eventos{
    display: flex;
    flex-direction: column;
    max-width: 1600px;
    margin: 0 auto;
}
.sponsors{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    overflow-x: scroll;
    background-color: #{$blanco};
}
.sponsor{
    max-width: 150px;
}
    .carousel-indicators{
        position: relative;

        button{
            margin: 0 0.6rem !important;
            height: 0.6rem !important;
            width: 0.6rem !important;
            border-radius: 100%;
            background-color: #{$primario} !important;
        }
    }

// Novedades

.novedades{
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    user-select: none;
    a{
        color: black;
        text-decoration: none;
    }
}
.card-ultimos{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-content: space-evenly;
    margin: 0.7rem;
    min-width: 20rem;
    max-width: 25rem;
    text-align: center;
    border-color: rgb(240, 240, 240);
    border-bottom-color: gray;
    img{
        margin: 1rem auto;
        max-width: 10rem;
    }
}
.ultimos-body{
    small{
        font-size: 14px;
    }
}
.ultimo-precio{
    padding: 1rem 0;
    font-size: 20px;
    margin-top: auto;
    margin-bottom: 0;
    color: #4675b9;
}

// Producto

.precio{
    color: #4675b9;
}

.producto{
    display: flex;
    flex-direction: row;
    margin: 2rem auto;
    flex-wrap: wrap;
    justify-content: center;
}
.producto-img{
    flex-basis: 10%;
    width: 100%;
    img{
        width: 30rem;
    }
}
.producto-info{
    margin-left: 5%;
    max-width: 650px;
    flex-basis: 40%;
}
.producto-id{
    --bs-btn-font-weight: 600;
    --bs-btn-border-radius: 2rem;
    
    --bs-btn-color: black;
    --bs-btn-bg: #e0e0e0;
    --bs-btn-border-color: #e0e0e0;

    --bs-btn-hover-color: black;
    --bs-btn-hover-bg: #e0e0e0;
    --bs-btn-hover-border-color: #e0e0e0;

    --bs-btn-active-color: black;
    --bs-btn-active-bg: #{darken(#e0e0e0, 7%)};
    --bs-btn-active-border-color: #e0e0e0;
}
.producto-div-precio{
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    max-width: 60%;
    min-height: 6rem;
    flex-direction: column;
    margin: auto;
}
.precio-div{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.producto-pagogamer{
    max-width: 264px;
    max-height: 110px;
}
.prodcuto-precio-valor{
    font-size: 1.9em;
    margin: 0;
}
.garantias{
    color: #{$verde};
    p{
        margin: 0;
    }
    img{
        max-width: 40px;
    }
}

// Productos
.contenido{
    margin: auto;
    max-width: 1196px;
}
.banner{
    display: flex;
    align-items: flex-end;
    img{
        margin: auto;
        max-width: 100%;
    }
    h3{
        text-transform: uppercase;
        position: absolute;
        color: #{$blanco};
        font-size: 26px;
        font-weight: 800;
        margin-left: 1rem;
    }
}
.scat{
    margin-bottom: 3rem;
}
.categorias{
    width: 30%;
    a{
        color: black;
        text-decoration: none;
    }
}

.acordeon-mod{
    button:not(.colapsed){
        color: black;
        background-color: #{$blanco};
    }
    button::after{
        transition: 300ms;
    }
}

.cluster{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.productos{
    display: flexbox;
    width: fit-content;
    max-width: 70%;
    width: 100%;
    img{
        margin: auto;
        width: 10rem;
    }
    p{
        font-size: 25px;
        font-weight: 500;
    }
    a{
        margin: auto;
        color: black;
        font-size: larger;
        text-decoration: none;
    }
}
.card-producto{
    display: flex;
    flex-direction: row;
    max-width: 100%;
    .producto-body{
        display: flex;
        flex-direction: column;
    }
}
.orderby{
    display: flex;
    flex-direction: row;
    height: 3rem;
    max-width: 100%;
}
#orderby{
    width: 50%;
    border: none;
    border-bottom: solid #{$primario} 1px;
}


// @media querys

@media(width <= 1280px){
    .nav__buscar--logo{
        margin-right: 13%
    }
    .banner{
        h3{
            font-size: 20px;
        }
    }
}
@media (width < 920px){
    .producto{
        flex-direction: column;
        .producto-div-btn{
            display: flex;
            button{
                margin: auto;
                width: 90%;
            }
        }
    }
    .producto-info{
        margin: 1rem auto;
        flex-basis: 70%;
    }
    .producto-div-precio{
        max-width: 100%;
    }
    .precio-div{
        flex-direction: column;
    }
    .producto-img{
        display: flex;
        flex-basis: 10%;
        img{
            margin: auto;
            width: 60%;
        }
    }
}
@media (width <= 820px){
    .foot{
        border-top: 1px groove #{lighten($primario, 20%)};
    }
    .foot:nth-child(1), .foot:nth-child(2){
        border-top: none;
    }
    .footer{
        grid-template-columns: 1fr 1fr;
        :nth-child(3){
            border-left: none;
        }
    }
    .categorias{
        margin: auto;
        width: 90%;
    }
    .contenido{
        max-width: 95%;
    }
    .cluster{
        justify-content: center;
    }
    .productos{
        max-width: 90%;
        width: 100%;
        text-align: center;
        img{
            width: 10rem;
        }
    }
    .card-producto{
        flex-direction: column;
        max-width: 100%;
        .producto-body{
            align-content: center;
            button{
                margin: auto;
            }
        }
    }
    .orderby{
        display: flex;
        justify-content: center;
        max-width: 100%;
        margin-top: 1rem;
    }
    #orderby{
        width: 80%;
    }
}
@media(width <= 580px){
    .producto-img{
        img{
            width: 90%;
        }
    }
    .login{
        margin-left: 0px !important;
        margin-right: 0px !important;
    }
    .login-content{
        min-width: 100% !important;
    }
    .scat{
        margin-bottom: 2.5rem;
    }
    .banner{
        h3{
            font-size: 15px;
            max-width: 50%;
        }
    }
}
@media(width < 500px){
    .nav__buscar--logo{
        margin-right: 20%;
    }
}