$primario: #fd611a;
$secundario: #f44336;
$fondo: #eeeeee;
$verde: #4caf50;
$blanco: #fff;


body{
    background-color: #{$fondo};
    font-family: montserrat, sans-serif;
}

.nav{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: #{$blanco};
    padding: 5px 0;
}
.nav__buscar{
    min-width: 33%;
    margin: 0 1rem 0 2rem;
}
.nav__buscar--buscar{
    width: 90%;
    height: 3.5rem;
}
.nav__buscar--logo{
    vertical-align: middle;
    position: absolute;
    margin-top: 3px;
    margin-right: 3rem;
    max-width: 20px;
}
.btn-bd-primary {
    --bs-btn-font-weight: 600;
    --bs-btn-border-radius: .2rem;
    
    --bs-btn-color: #{$blanco};
    --bs-btn-bg: #{$primario};
    --bs-btn-border-color: #{$primario};

    --bs-btn-hover-color: #{$blanco};
    --bs-btn-hover-bg: #{$primario};
    --bs-btn-hover-border-color: #{$primario};

    --bs-btn-active-color: #{$blanco};
    --bs-btn-active-bg: #{darken($primario, 10%)};
    --bs-btn-active-border-color: #{darken($primario, 10%)};
}
.nav__usuario--btn{
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    height: 35px;
    width: 170px;
    font-size: 13px;
}
.nav__usuario--logo {
    vertical-align: middle;
    max-width: 20px;
    filter: invert(1);
    margin-right: 4px;
}
.nav__usuario--carrito {
    position: relative;
    display: inline-block;
    img{
        max-width: 30px;
    }
    margin-left: 25px;
}

.nav__usuario--contador {
    position: absolute;
    top: -10px; 
    right: -10px; 
    background-color: #{$secundario};
    color: white; 
    border-radius: 50%; 
    width: 20px; 
    height: 20px; 
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #{$primario};
    min-height: 5rem;
    padding: 25px;
    a, a:hover{
        color: #{$blanco};
    }
    h5{
        color: #{$blanco};
    }
}
.footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.foot{
    padding: 50px 25px;
    border-left: 1px solid #{$blanco};
}
.foot--img{
    display: flex;
    max-height: 100px;
}
.foot__1{
    display: flex;
    justify-content: end;
    align-items: center;
    border-left: none;
}
.foot__2{
    display: flex;
    flex-direction: column;
    button, a{
        margin: 5px auto;
    }
}
.foot__2--btn1{
    --bs-btn-font-weight: 400;
    --bs-btn-border-radius: .4rem;
    
    --bs-btn-color: #{$primario};
    --bs-btn-bg: #{$blanco};
    --bs-btn-border-color: #{$primario};

    --bs-btn-hover-color: #{$blanco};
    --bs-btn-hover-bg: #{$primario};
    --bs-btn-hover-border-color: #{$blanco};

    --bs-btn-active-color: #{$blanco};
    --bs-btn-active-bg: #{$primario};
    --bs-btn-active-border-color: #{$blanco};
    transition: 100ms;
    font-size: 15px;
}
.foot__2--btn2{
    --bs-btn-font-weight: 400;
    --bs-btn-border-radius: .4rem;
    
    --bs-btn-color: #{$blanco};
    --bs-btn-bg: #{$primario};
    --bs-btn-border-color: #{$blanco};

    --bs-btn-hover-color: #{$primario};
    --bs-btn-hover-bg: #{$blanco};
    --bs-btn-hover-border-color: #{$primario};

    --bs-btn-active-color: #{$primario};
    --bs-btn-active-bg: #{$blanco};
    --bs-btn-active-border-color: #{$primario};
    transition: 100ms;
    font-size: 15px;
    width: max-content;
}
.foot__3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.foot__4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    img, a{
        margin: 5px auto;
    }
}
