body {
  --fondo: #eeeeee;
  background-color: var(--fondo);
  font-family: montserrat, sans-serif;
  overflow-x: hidden;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  padding: 5px 0;
}

.nav__buscar {
  min-width: 33%;
  margin: 0 1rem 0 2rem;
}
.nav__buscar .form-floating {
  min-width: 100%;
}

.label-animated {
  color: gray;
  transition: 100ms !important;
}

.buscar {
  margin-top: 5px;
  margin-bottom: 1px !important;
}

.nav__buscar--buscar {
  width: 90% !important;
  height: 3.5rem;
}

#search:focus {
  border-color: #fd611a !important;
  border-width: 2px !important;
}

.nav__buscar--logo {
  vertical-align: middle;
  position: absolute;
  margin-top: 3px;
  margin-right: 10%;
  max-width: 20px;
}

.btn-bd-primary {
  --bs-btn-font-weight: 600;
  --bs-btn-border-radius: .2rem;
  --bs-btn-color: #fff;
  --bs-btn-bg: #fd611a;
  --bs-btn-border-color: #fd611a;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #fd611a;
  --bs-btn-hover-border-color: #fd611a;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #e24802;
  --bs-btn-active-border-color: #e24802;
}

.nav__usuario--btn {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  height: 35px;
  width: 170px;
  font-size: 13px;
}

.nav__usuario--logo {
  vertical-align: middle;
  max-width: 20px;
  filter: invert(1);
  margin-right: 4px;
}

.nav__usuario--carrito {
  position: relative;
  display: inline-block;
  margin-left: 25px;
}
.nav__usuario--carrito img {
  max-width: 30px;
}

.nav__usuario--contador {
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: #f44336;
  color: white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fd611a;
  min-height: 5rem;
  padding: 25px;
}
footer a, footer a:hover {
  color: #fff;
}
footer h5 {
  color: #fff;
}

.footer {
  display: grid;
  grid-template-columns: 1.8fr 1fr 1fr 1.8fr;
}

.foot {
  padding: 50px 25px;
  border-left: 1px groove #fea77f;
}

.foot--img {
  display: flex;
  max-height: 100px;
}

.foot__1 {
  display: flex;
  justify-content: end;
  align-items: center;
  border-left: none;
}

.foot__2 {
  display: flex;
  flex-direction: column;
}
.foot__2 button, .foot__2 a {
  margin: 5px auto;
}

.foot__2--btn1 {
  --bs-btn-font-weight: 400;
  --bs-btn-border-radius: .4rem;
  --bs-btn-color: #fd611a;
  --bs-btn-bg: #fff;
  --bs-btn-border-color: #fd611a;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #fd611a;
  --bs-btn-hover-border-color: #fff;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #fd611a;
  --bs-btn-active-border-color: #fff;
  transition: 100ms;
  font-size: 15px;
}

.foot__2--btn2 {
  --bs-btn-font-weight: 400;
  --bs-btn-border-radius: .4rem;
  --bs-btn-color: #fff;
  --bs-btn-bg: #fd611a;
  --bs-btn-border-color: #fff;
  --bs-btn-hover-color: #fd611a;
  --bs-btn-hover-bg: #fff;
  --bs-btn-hover-border-color: #fd611a;
  --bs-btn-active-color: #fd611a;
  --bs-btn-active-bg: #fff;
  --bs-btn-active-border-color: #fd611a;
  transition: 100ms;
  font-size: 15px;
  width: -moz-max-content;
  width: max-content;
}

.foot__3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.foot__3 a {
  border-radius: 100%;
  margin: 5px;
}

.foot__redes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #fd611a;
  justify-content: center;
}
.foot__redes .img {
  max-width: 25px;
  margin: 5px;
  filter: brightness(0) invert(1);
}
.foot__redes .cbtn {
  padding: 3px;
  border: solid #fff 1px;
  border-radius: 100%;
  transition: 100ms;
}
.foot__redes .cbtn:hover {
  background-color: #fff;
}
.foot__redes .cbtn:hover .img {
  filter: none;
}

.foot__4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.foot__4 img, .foot__4 a {
  margin: 5px auto;
}

.shadow-off {
  box-shadow: none !important;
}

.btn-crear-cuenta {
  --bs-btn-font-weight: 600;
  --bs-btn-border-radius: .2rem;
  --bs-btn-color: #fd611a;
  --bs-btn-bg: #fff;
  --bs-btn-border-color: lightgray;
  --bs-btn-hover-color: #fd611a;
  --bs-btn-hover-bg: #fff;
  --bs-btn-hover-border-color: lightgray;
  --bs-btn-active-color: #fd611a;
  --bs-btn-active-bg: #ffede4;
  --bs-btn-active-border-color: lightgray;
}

.login {
  justify-content: center;
  animation: menuIn 100ms;
}

@keyframes menuIn {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
.login-titulo {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login-titulo small {
  color: #fd611a;
}

.login-content {
  min-width: 580px !important;
  border-radius: 5px;
}

.login-body {
  margin: 15px 50px;
  font-size: 15px !important;
}
.login-body .label-animated {
  color: #f44336 !important;
}

.login-btn-close {
  border-radius: 100%;
  opacity: 100%;
  margin-top: 2%;
  margin-left: 95%;
  background-color: gray;
  max-width: 5px !important;
  max-height: 5px !important;
  background-size: 9px !important;
  filter: invert(1);
  padding: 7px !important;
}

.login-control {
  border-radius: 0;
  border-style: none none solid none;
  border-bottom-color: #f44336;
}

.login-control:focus {
  border-width: 2px !important;
  border-bottom-color: #f44336;
}

.login-footer {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.login-footer :nth-child(2) {
  margin-top: 8px;
}

.error-form {
  position: fixed;
  z-index: 2;
  width: 100%;
}

.menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #fd611a;
}
.menu div {
  margin: 0 1.1rem;
  padding: 1.2rem 0;
  width: 160px;
  text-align: center;
}
.menu a {
  font-family: montserrat;
  font-size: 15px;
  font-weight: 600;
  color: black;
  text-decoration: none;
}
.menu a:hover {
  color: #fff;
}

.sponsors {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  overflow-x: scroll;
}

.sponsor {
  max-width: 150px;
}

.carousel-indicators {
  position: relative;
}
.carousel-indicators button {
  margin: 0 0.6rem !important;
  height: 0.6rem !important;
  width: 0.6rem !important;
  border-radius: 100%;
  background-color: #fd611a !important;
}

@media (width <= 1280px) {
  .nav__buscar--logo {
    margin-right: 13%;
  }
}
@media (width <= 580px) {
  .login {
    margin-left: 0px !important;
    margin-right: 0px !important;
  }
  .login-content {
    min-width: 100% !important;
  }
}
@media (width < 500px) {
  .nav__buscar--logo {
    margin-right: 20%;
  }
}
@media (width <= 820px) {
  .foot {
    border-top: 1px groove #fea77f;
  }
  .foot:nth-child(1), .foot:nth-child(2) {
    border-top: none;
  }
  .footer {
    grid-template-columns: 1fr 1fr;
  }
  .footer :nth-child(3) {
    border-left: none;
  }
}/*# sourceMappingURL=style.css.map */