.principal {
  color: #fd611a !important;
}

body {
  --fondo: #eeeeee;
  background-color: var(--fondo);
  font-family: montserrat, sans-serif;
  overflow-x: hidden;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  padding: 5px 0;
}

.nav__buscar {
  min-width: 33%;
  margin: 0 1rem 0 2rem;
}
.nav__buscar .form-floating {
  min-width: 100%;
}

.label-animated {
  color: gray;
  transition: 100ms !important;
}

.buscar {
  display: flex;
  margin-top: 5px;
  margin-bottom: 1px !important;
}

.nav__buscar--buscar {
  width: 100% !important;
  height: 3.5rem;
}

#search:focus {
  border-color: #fd611a !important;
  border-width: 2px !important;
}

.nav__buscar--logo {
  position: absolute;
  pointer-events: none;
  background-image: url("https://cdn.icon-icons.com/icons2/1129/PNG/512/searchmagnifierinterfacesymbol1_79893.png");
  z-index: 5;
  background-size: 20px;
  width: 95%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: right;
}

.btn-bd-primary {
  --bs-btn-font-weight: 600;
  --bs-btn-border-radius: .2rem;
  --bs-btn-color: #fff;
  --bs-btn-bg: #fd611a;
  --bs-btn-border-color: #fd611a;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #fd611a;
  --bs-btn-hover-border-color: #fd611a;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #e24802;
  --bs-btn-active-border-color: #e24802;
}

.nav__usuario--btn {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  height: 35px;
  width: 170px;
  font-size: 13px;
}

.nav__usuario--logo {
  vertical-align: middle;
  max-width: 20px;
  filter: invert(1);
  margin-right: 4px;
}

.nav__usuario--carrito {
  position: relative;
  display: inline-block;
  margin-left: 25px;
}
.nav__usuario--carrito img {
  max-width: 30px;
}

.nav__usuario--contador {
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: #f44336;
  color: white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fd611a;
  min-height: 5rem;
  padding: 25px;
}
footer a, footer a:hover {
  color: #fff;
}
footer h5 {
  color: #fff;
}

.footer {
  display: grid;
  grid-template-columns: 1.8fr 1fr 1fr 1.8fr;
}

.foot {
  padding: 50px 25px;
  border-left: 1px groove #fea77f;
}

.foot--img {
  display: flex;
  max-height: 100px;
}

.foot__1 {
  display: flex;
  justify-content: end;
  align-items: center;
  border-left: none;
}

.foot__2 {
  display: flex;
  flex-direction: column;
}
.foot__2 button, .foot__2 a {
  margin: 5px auto;
}

.foot__2--btn1 {
  --bs-btn-font-weight: 400;
  --bs-btn-border-radius: .4rem;
  --bs-btn-color: #fd611a;
  --bs-btn-bg: #fff;
  --bs-btn-border-color: #fd611a;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #fd611a;
  --bs-btn-hover-border-color: #fff;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #fd611a;
  --bs-btn-active-border-color: #fff;
  transition: 100ms;
  font-size: 15px;
}

.foot__2--btn2 {
  --bs-btn-font-weight: 400;
  --bs-btn-border-radius: .4rem;
  --bs-btn-color: #fff;
  --bs-btn-bg: #fd611a;
  --bs-btn-border-color: #fff;
  --bs-btn-hover-color: #fd611a;
  --bs-btn-hover-bg: #fff;
  --bs-btn-hover-border-color: #fd611a;
  --bs-btn-active-color: #fd611a;
  --bs-btn-active-bg: #fff;
  --bs-btn-active-border-color: #fd611a;
  transition: 100ms;
  font-size: 15px;
  width: -moz-max-content;
  width: max-content;
}

.foot__3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.foot__3 a {
  border-radius: 100%;
  margin: 5px;
}

.foot__redes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #fd611a;
  justify-content: center;
}
.foot__redes .img {
  max-width: 25px;
  margin: 5px;
  filter: brightness(0) invert(1);
}
.foot__redes .cbtn {
  padding: 3px;
  border: solid #fff 1px;
  border-radius: 100%;
  transition: 100ms;
}
.foot__redes .cbtn:hover {
  background-color: #fff;
}
.foot__redes .cbtn:hover .img {
  filter: none;
}

.foot__4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.foot__4 img, .foot__4 a {
  margin: 5px auto;
}

.shadow-off {
  box-shadow: none !important;
}

.btn-crear-cuenta {
  --bs-btn-font-weight: 600;
  --bs-btn-border-radius: .2rem;
  --bs-btn-color: #fd611a;
  --bs-btn-bg: #fff;
  --bs-btn-border-color: lightgray;
  --bs-btn-hover-color: #fd611a;
  --bs-btn-hover-bg: #fff;
  --bs-btn-hover-border-color: lightgray;
  --bs-btn-active-color: #fd611a;
  --bs-btn-active-bg: #ffede4;
  --bs-btn-active-border-color: lightgray;
}

.login {
  justify-content: center;
  animation: menuIn 100ms;
}

@keyframes menuIn {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
.login-titulo {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login-titulo small {
  color: #fd611a;
}

.login-content {
  min-width: 580px !important;
  border-radius: 5px;
}

.login-body {
  margin: 15px 50px;
  font-size: 15px !important;
}
.login-body .label-animated {
  color: #f44336 !important;
}

.login-btn-close {
  border-radius: 100%;
  opacity: 100%;
  margin-top: 2%;
  margin-left: 95%;
  background-color: gray;
  max-width: 5px !important;
  max-height: 5px !important;
  background-size: 9px !important;
  filter: invert(1);
  padding: 7px !important;
}

.login-control {
  border-radius: 0;
  border-style: none none solid none;
  border-bottom-color: #f44336;
}

.login-control:focus {
  border-width: 2px !important;
  border-bottom-color: #f44336;
}

.login-footer {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.login-footer :nth-child(2) {
  margin-top: 8px;
}

.error-form {
  position: fixed;
  z-index: 2;
  width: 100%;
}

.menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #fd611a;
}
.menu div {
  margin: 0 1.1rem;
  padding: 1.2rem 0;
  width: 160px;
  text-align: center;
}
.menu a {
  font-family: montserrat;
  font-size: 15px;
  font-weight: 600;
  color: black;
  text-decoration: none;
}
.menu a:hover {
  color: #fff;
}

#eventos {
  display: flex;
  flex-direction: column;
  max-width: 1600px;
  margin: 0 auto;
}

.sponsors {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  overflow-x: scroll;
  background-color: #fff;
}

.sponsor {
  max-width: 150px;
}

.carousel-indicators {
  position: relative;
}
.carousel-indicators button {
  margin: 0 0.6rem !important;
  height: 0.6rem !important;
  width: 0.6rem !important;
  border-radius: 100%;
  background-color: #fd611a !important;
}

.novedades {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.novedades a {
  color: black;
  text-decoration: none;
}

.card-ultimos {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-content: space-evenly;
  margin: 0.7rem;
  min-width: 20rem;
  max-width: 25rem;
  text-align: center;
  border-color: rgb(240, 240, 240);
  border-bottom-color: gray;
}
.card-ultimos img {
  margin: 1rem auto;
  max-width: 10rem;
}
.card-ultimos a {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  height: 100%;
}

.ultimos-body small {
  font-size: 14px;
}

.ultimo-precio {
  font-size: 20px;
}

.precio {
  color: #4675b9;
}

.producto {
  display: flex;
  flex-direction: row;
  margin: 2rem auto;
  flex-wrap: wrap;
  justify-content: center;
}

.producto-img {
  flex-basis: 10%;
  width: 100%;
}
.producto-img img {
  width: 30rem;
}

.producto-info {
  margin-left: 5%;
  max-width: 650px;
  flex-basis: 40%;
}

.producto-id {
  --bs-btn-font-weight: 600;
  --bs-btn-border-radius: 2rem;
  --bs-btn-color: black;
  --bs-btn-bg: #e0e0e0;
  --bs-btn-border-color: #e0e0e0;
  --bs-btn-hover-color: black;
  --bs-btn-hover-bg: #e0e0e0;
  --bs-btn-hover-border-color: #e0e0e0;
  --bs-btn-active-color: black;
  --bs-btn-active-bg: #cecece;
  --bs-btn-active-border-color: #e0e0e0;
}

.producto-div-precio {
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  max-width: 60%;
  min-height: 6rem;
  flex-direction: column;
  margin: auto;
}

.precio-div {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}

.producto-pagogamer {
  display: flex;
  border: #a7469a solid 1px;
  border-radius: 5px;
  max-width: 260px;
  max-height: 120px;
  margin: auto 0 auto auto;
}
.producto-pagogamer a {
  font-size: 13px;
  margin: 0;
}
.producto-pagogamer small {
  font-size: 9px;
  text-wrap: nowrap;
  font-weight: 800;
  margin: 0;
}
.producto-pagogamer p {
  margin: 0;
  font-size: 22px;
  font-weight: 600;
}
.producto-pagogamer .grid1-pagogamer {
  margin: auto;
}
.producto-pagogamer .grid2-pagogamer {
  margin: auto;
}
.producto-pagogamer .grid2-pagogamer small {
  font-weight: 500;
}
.producto-pagogamer .grid2-pagogamer p {
  font-size: 17px;
}

.ld {
  padding-right: 10px !important;
  border-right: solid rgba(55, 55, 55, 0.4) 1px;
}

.color-pagogamer {
  color: #a7469a;
}

.prodcuto-precio-valor {
  font-size: 1.9em;
  margin: 0;
}

.garantias {
  color: #4caf50;
}
.garantias p {
  margin: 0;
}
.garantias img {
  max-width: 40px;
}

.contenido {
  margin: auto;
  max-width: 1196px;
}

.banner {
  display: flex;
  align-items: flex-end;
}
.banner img {
  margin: auto;
  max-width: 100%;
}
.banner h3 {
  text-transform: uppercase;
  position: absolute;
  color: #fff;
  font-size: 26px;
  font-weight: 800;
  margin-left: 1rem;
}

.scat {
  margin-bottom: 3rem;
}

.categorias {
  width: 30%;
}
.categorias a {
  color: black;
  text-decoration: none;
}

.acordeon-mod button:not(.colapsed) {
  color: black;
  background-color: #fff;
}
.acordeon-mod button::after {
  transition: 300ms;
}

.cluster {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.productos {
  display: flexbox;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 70%;
  width: 100%;
}
.productos img {
  margin: auto;
  width: 10rem;
}
.productos p {
  font-size: 25px;
  font-weight: 500;
}
.productos a {
  margin: auto;
  color: black;
  font-size: larger;
  text-decoration: none;
}

.card-producto {
  display: flex;
  flex-direction: row;
  max-width: 100%;
}
.card-producto .producto-body {
  display: flex;
  flex-direction: column;
}

.orderby {
  display: flex;
  flex-direction: row;
  height: 3rem;
  max-width: 100%;
}

#orderby {
  width: 50%;
  border: none;
  border-bottom: solid #fd611a 1px;
}

@media (width <= 1280px) {
  .nav__buscar--logo {
    margin-right: 13%;
  }
  .banner h3 {
    font-size: 20px;
  }
}
@media (width < 920px) {
  .producto {
    flex-direction: column;
  }
  .producto .producto-div-btn {
    display: flex;
  }
  .producto .producto-div-btn button {
    margin: auto;
    width: 90%;
  }
  .producto-info {
    margin: 1rem auto;
    flex-basis: 70%;
  }
  .producto-div-precio {
    max-width: 100%;
  }
  .precio-div {
    flex-direction: column;
  }
  .producto-img {
    display: flex;
    flex-basis: 10%;
  }
  .producto-img img {
    margin: auto;
    width: 60%;
  }
}
@media (width <= 820px) {
  .foot {
    border-top: 1px groove #fea77f;
  }
  .foot:nth-child(1), .foot:nth-child(2) {
    border-top: none;
  }
  .footer {
    grid-template-columns: 1fr 1fr;
  }
  .footer :nth-child(3) {
    border-left: none;
  }
  .categorias {
    margin: auto;
    width: 90%;
  }
  .contenido {
    max-width: 95%;
  }
  .cluster {
    justify-content: center;
  }
  .productos {
    max-width: 90%;
    width: 100%;
    text-align: center;
  }
  .productos img {
    width: 10rem;
  }
  .card-producto {
    flex-direction: column;
    max-width: 100%;
  }
  .card-producto .producto-body {
    align-content: center;
  }
  .card-producto .producto-body button {
    margin: auto;
  }
  .orderby {
    display: flex;
    justify-content: center;
    max-width: 100%;
    margin-top: 1rem;
  }
  #orderby {
    width: 80%;
  }
}
@media (width <= 580px) {
  .producto-img img {
    width: 90%;
  }
  .login {
    margin-left: 0px !important;
    margin-right: 0px !important;
  }
  .login-content {
    min-width: 100% !important;
  }
  .scat {
    margin-bottom: 2.5rem;
  }
  .banner h3 {
    font-size: 15px;
    max-width: 50%;
  }
}
@media (width < 500px) {
  .nav__buscar--logo {
    margin-right: 20%;
  }
}/*# sourceMappingURL=style.css.map */