{% extends 'base.html' %}

{% block main %}
    <div class="m-2 p-2 mx-auto" style="display: flex; flex-direction: column; align-content: center; max-width: 1200px;">
        <div class="text-center"><h1>
            Titulo
        </h1></div>
        <div style="display: flex; justify-content: center;">
            <div class="" style="width: 35%;">
                <div class="" style="display: flex; flex-direction: column; border-radius: 5px; width: 100%; height: 28rem; background-color: white">
                    <div style="display: flex;" class="my-auto">
                        <img class="mx-auto" style="width: 66px; height: 59px;" src="/static/image/armarpc/1.png" alt="CPU">
                        <img class="mx-auto" style="width: 66px; height: 59px;" src="/static/image/armarpc/2.png" alt="MOTHER">
                    </div>
                    <div style="display: flex;" class="my-auto">
                        <img class="mx-auto" style="width: 66px; height: 59px;" src="/static/image/armarpc/3.png" alt="COOLER">
                        <img class="mx-auto" style="width: 66px; height: 59px;" src="/static/image/armarpc/4.png" alt="RAM">
                    </div>
                    <div style="display: flex;" class="my-auto">
                        <img class="mx-auto" style="width: 66px; height: 59px;" src="/static/image/armarpc/5.png" alt="GPU">
                        <img class="mx-auto" style="width: 66px; height: 59px;" src="/static/image/armarpc/6.png" alt="ALMACENAMIENTO">
                    </div>
                    <div style="display: flex;" class="my-auto">
                        <img class="mx-auto" style="width: 66px; height: 59px;" src="/static/image/armarpc/7.png" alt="FUENTE">
                        <img class="mx-auto" style="width: 66px; height: 59px;" src="/static/image/armarpc/8.png" alt="GABINETE">
                    </div>
                    <div style="display: flex;" class="my-auto">
                        <img class="mx-auto" style="width: 66px; height: 59px;" src="/static/image/armarpc/9.png" alt="MONITOR">
                        <img class="mx-auto" style="width: 66px; height: 59px;" src="/static/image/armarpc/10.png" alt="PERIFERICOS">
                    </div>
                </div>
                <div class="mt-4" style="border-radius: 5px; width: 100%; height: 7rem; background-color: white">
                    
                </div>
            </div>
            <div class="mx-2" style="width: 800px;">
                <div style="height: 3rem; width: 100%;">
                    <button class="btn btn-outline-dark" type="submit">AMD</button>
                    <button class="btn btn-outline-info" type="submit">Intel</button>
                </div>
                <div class="row row-cols-2 m-0" style="align-content: start; justify-content: space-between; width: 100%;">
                    
                    <div class="m-2 col my-2" style="border-radius: 5px; height: 148px; width: 47%; background-color: white;">
                    </div>
                    <div class="m-2 col my-2" style="border-radius: 5px; height: 148px; width: 47%; background-color: white;">
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}