{% extends 'base.html' %}

{% block main %}
    <div class="m-2 p-2 mx-auto armapc-cluster">
    <!-- CABECERA CON INFO DEL PASO -->
        <div class="text-left m-2 d-flex">
            <div>
                <h4 class="mb-4"><strong>{{ pasos_info['titulo'] }}</strong></h4>
                <p>{{ pasos_info['texto']}}</p>
            </div>
            {% if tipo == 11 %}
                <img class="m-0 my-auto ms-auto" src="/static/image/intel-logo.png" alt="INTEL" style="max-height: 2rem;">
            {% elif tipo == 10 %}
                <img class="m-0 my-auto ms-auto" src="/static/image/amd.png" alt="AMD" style="max-height: 2rem;">
            {% endif %}
        </div>
        <div class="armapc-body">
        <!-- PASOS DEL ARMADO -->
            <div class="armapc-pasos">
                <div class="armapc-pasos-body sombra">
                    <div class="my-auto d-flex">
                        <img class="mx-auto armapc-paso" value="1"  loading="lazy" src="/static/image/armarpc/{% if paso==1 %}1.1.png {% else %}1.png {% endif %}" alt="CPU">
                        <img class="mx-auto armapc-paso" value="2"  loading="lazy" src="/static/image/armarpc/{% if paso==2 %}2.1.png {% else %}2.png {% endif %}" alt="MOTHER">
                    </div>
                    <div class="my-auto d-flex">
                        <img class="mx-auto armapc-paso" value="3"  loading="lazy" src="/static/image/armarpc/{% if paso==3 %}3.1.png {% else %}3.png {% endif %}" alt="COOLER">
                        <img class="mx-auto armapc-paso" value="4"  loading="lazy" src="/static/image/armarpc/{% if paso==4 %}4.1.png {% else %}4.png {% endif %}" alt="RAM">
                    </div>
                    <div class="my-auto d-flex">
                        <img class="mx-auto armapc-paso" value="5"  loading="lazy" src="/static/image/armarpc/{% if paso==5 %}5.1.png {% else %}5.png {% endif %}" alt="GPU">
                        <img class="mx-auto armapc-paso" value="6"  loading="lazy" src="/static/image/armarpc/{% if paso==6 %}6.1.png {% else %}6.png {% endif %}" alt="ALMACENAMIENTO">
                    </div>
                    <div class="my-auto d-flex">
                        <img class="mx-auto armapc-paso" value="7"  loading="lazy" src="/static/image/armarpc/{% if paso==7 %}7.1.png {% else %}7.png {% endif %}" alt="FUENTE">
                        <img class="mx-auto armapc-paso" value="8"  loading="lazy" src="/static/image/armarpc/{% if paso==8 %}8.1.png {% else %}8.png {% endif %}" alt="GABINETE">
                    </div>
                    <div class="my-auto d-flex">
                        <img class="mx-auto armapc-paso" value="9"  loading="lazy" src="/static/image/armarpc/{% if paso==9 %}9.1.png {% else %}9.png {% endif %}" alt="MONITOR">
                        <img class="mx-auto armapc-paso" value="10" loading="lazy"  src="/static/image/armarpc/{% if paso==10 %}10.1.png {% else %}10.png {% endif %}" alt="PERIFERICOS">
                    </div>
                </div>
            <!-- CONTROLES DE LOS PASOS E INFO DE LA PC -->
                <div class="mt-4 row row-cols-2 mx-0 armapc-controles sombra text-center">
                    <div class="col my-auto">
                        ({{watts}} watts)
                    </div>
                    <div class="col my-auto">
                        <strong>Total: {{ total | M }}</strong>
                    </div>
                    <div class="col my-auto">
                        <button id="btn-volver-paso" paso="{{paso}}" class="btn btn-bd-primary">VOLVER ATRÁS</button>
                    </div>
                    <div class="col my-auto">
                        {% if paso < 10 %}
                            <button id="btn-avanzar-paso" paso="{{paso}}" class="btn btn-bd-primary">SALTEAR PASO</button>
                        {% elif paso == 10 %}
                            <button id="btn-avanzar-paso" paso="{{paso}}" class="btn btn-bd-primary">TERMINAR</button>
                        {% elif paso == 11 %}
                            <button id="btn-terminarpc" paso="{{paso}}" class="btn btn-bd-primary">IR AL CARRITO</button>
                        {% endif %}
                    </div>
                </div>
            </div>
        <!-- PARTE DE LOS PRODUCTOS -->
            <div class="mx-2 mb-2 armapc-derecha">
                {% if paso == 1 %}
                <!-- BOTONES DE INTEL Y AMD -->
                    <div class="armapc-marca">
                        {% if tipo %}
                            <button value="10" class="btn btn-outline-dark btn-tipo-armado {% if tipo == 10 %} active {% endif %} btn-amd" data-bs-toggle="button" {% if tipo == 10 %} aria-pressed="true" {% endif %} type="submit">
                                <img src="/static/image/amd.png" alt="AMD">
                            </button>
                            <button value="11" class="btn btn-outline-info btn-tipo-armado {% if tipo == 11 %} active {% endif %} btn-intel" data-bs-toggle="button" {% if tipo == 10 %} aria-pressed="true" {% endif %} type="submit">
                                <img src="/static/image/intel-logo.png" alt="INTEL">
                            </button>
                        {% else %}
                            <button value="10" class="btn btn-outline-dark btn-tipo-armado btn-amd" data-bs-toggle="button" type="submit">
                                <img src="/static/image/amd.png" alt="AMD">
                            </button>
                            <button value="11" class="btn btn-outline-info btn-tipo-armado btn-intel" data-bs-toggle="button" type="submit">
                                <img src="/static/image/intel-logo.png" alt="INTEL">
                            </button>
                        {% endif %}
                    </div>
                {% endif %}
                {% if paso == 11 %}
                <!-- RESUMEN FINAL -->
                    <div class="card ms-2 mb-2 p-2 sombra bordeizquierdo-color">
                        <p class="ms-5 my-2"><strong>Componentes de la PC</strong></p>
                        <div class="card-body">
                            {% for p in productos %}
                                <li><strong>1</strong> X {{ p['nombre'] }}</li>
                            {% endfor %}
                            <li><strong>1</strong> X ARMADO BASICO DE PC (No incluye instalación de sistema operativo)</li>
                        </div>
                        <p class="precio fs-4 mt-auto mb-0 ms-4">Total: {{ total | M }}</p>
                        <div class="alert alert-warning d-flex align-items-center mt-4 p-2 px-4" role="alert" style="background-color: none !important">
                            <div style="color: black;">
                                Al precio indicado se le agregará el costo de armado y, en caso que corresponda, el costo de la instalación del cooler y del cable de fuente.
                            </div>
                        </div>
                    </div>
                {% else %}
                <!-- CONTENEDOR DE CARDS DE PRODUCTOS -->
                    <div class="row row-cols-2 m-0 armapc-productos">
                        {% if cooler %}
                            <div value="{{ cooler['id'] }}" paso="{{ paso }}" class="mb-2 col sombra armapc-producto {% if productoPaso[paso-1] == cooler['id'] %}armapc-producto-selected{% endif %}">
                                <img class="p-2" src="{{ cooler['imagen'] }}" alt="{{ cooler['nombre'] }}">
                                <div class="armapc-producto-body">
                                    <small class="mt-auto" title="{{ cooler['nombre'] }}"><strong>{{ cooler['nombre'] | Tmax(100) }}</strong></small>
                                    <p class="mb-auto">{{ cooler['precio'] | M }}</p>
                                    <div class="mt-auto">
                                    <img style="max-width: 15px;" src="/static/image/compatible.jpg" alt="compatible" loading="lazy">
                                    <small style="color: #4caf50;"> Compatible</small>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                        {% if paso < 11 %}
                        <!-- CARDS DE PRODUCTOS -->
                            {% for p in productos %}
                                <div value="{{ p['id'] }}" paso="{{ paso }}" tipo="{{p['subcat']}}" class="mb-2 col sombra armapc-producto {% if productoPaso[paso-1] == p['id'] %}armapc-producto-selected{% endif %}">
                                    <img class="p-2" src="{{ p['imagen'] }}1.png" alt="{{ p['nombre'] }}">
                                    <div class="armapc-producto-body">
                                        <small class="mt-auto" title="{{ p['nombre'] }}"><strong>{{ p['nombre'] | Tmax(100) }}</strong></small>
                                        <p class="mb-auto">{{ p['precio'] | M }}</p>
                                        <div class="mt-auto">
                                        <img style="max-width: 15px;" src="/static/image/compatible.jpg" alt="compatible" loading="lazy">
                                        <small style="color: #4caf50;"> Compatible</small>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block script_f %}
<script src="/static/js/armatupc.js"></script>
{% endblock %}