<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="/static/style.css">
        <title>{% block titulo %}COPIA GAMER{% endblock %}</title>
        {% block script_h %}{% endblock %}
    </head>
    <body>
        <header>
            <nav class="nav">
                <div class="nav nav__logo">
                    <img src="/static/image/copiagamer.png" alt="compra gamer">
                </div>

                <div class="nav nav__buscar">
                    <div class="form-floating mb-3 buscar">
                        <input id="search" class="form-control nav__buscar--buscar shadow-off" type="text" placeholder="Buscar productos">
                        <label class="label-animated" for="search">Buscador</label>
                    </div>
                    <div class="nav">
                        <img class="nav__buscar--logo" src="https://cdn.icon-icons.com/icons2/1129/PNG/512/searchmagnifierinterfacesymbol1_79893.png" alt="buscar">
                    </div>
                </div>

                <div class="nav nav__usuario">
                    <button class="btn btn-primary btn-bd-primary nav__usuario--btn" type="button" data-bs-toggle="modal" data-bs-target="#login" >
                        <span>
                            <img class="nav__usuario--logo" src="https://cdn.icon-icons.com/icons2/933/PNG/512/round-account-button-with-user-inside_icon-icons.com_72596.png">
                            Iniciar Sesión
                        </span>
                    </button>
                    <div class="nav__usuario--carrito">
                        <img src="https://cdn.icon-icons.com/icons2/1369/PNG/512/-shopping-cart_90604.png" alt="Carrito">
                        <div class="nav__usuario--contador">0</div>
                    </div>
                </div>
            </nav>
        </header>
        <main>
            {% block main %}
            {% endblock %}
        </main>
        <footer>
            <div class="footer">
                <div class="foot foot__1">
                    <img class="foot__1--img foot--img" src="https://www.afip.gob.ar/images/f960/DATAWEB.jpg" alt="data fiscal">
                </div>
                <div class="foot foot__2">
                    <button class="btn btn-primary foot__2--btn1">Ayuda</button>
                    <button class="btn btn-primary foot__2--btn2">Botón de arrepentimiento</button>
                    <a href="#">Términos y condiciones</a>
                </div>
                <div class="foot foot__3">
                    <h5>Seguinos en</h5>
                    <div class="foot__redes">
                        <a href="https://www.linkedin.com/in/agustin-fizzano/">
                            <div class="cbtn">
                                    <img class="img" src="/static/image/linkedin.png" alt="linkedin">
                            </div></a>
                        <a href="https://www.github.com/TutozGhub">
                            <div class="cbtn">
                                    <img class="img" src="/static/image/github.png" alt="github">
                            </div></a>
                    </div>
                </div>
                <div class="foot foot__4">
                    <img class="foot__4--img foot--img" src="https://compragamer.com.ar/PatchRouterSection/assets/icons/gptw.svg" alt="certificado">
                    <a href="#">¡Trabajá con nosotros!</a>
                </div>
            </div>
        </footer>
        {% block script_f %} 

        {% endblock %} 
    </body>
</html>