<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="/static/style.css">
        <title>{% block titulo %}COPIA GAMER{% endblock %}</title>
        <link rel="icon" href="/static/image/icono.png" />
        {% block head %}{% endblock %}
        {% block script_h %}{% endblock %}
    </head>
    <body   {% if fondo %}
                style="--fondo: {{fondo}} !important;"
            {% endif %}>
<!-- HEADER -->
        <header>
            <nav class="nav">
            <!-- LOGO -->
                <div class="nav nav__logo">
                    <a href="/">
                        <img src="/static/image/copiagamer.png" alt="compra gamer" loading="lazy"></a>
                </div>
            <!-- SEARCH -->
                <div class="nav nav__buscar">
                    <div class="form-floating mb-3 buscar">
                        <input id="search" class="form-control nav__buscar--buscar shadow-off" type="search" placeholder="">
                        <label class="label-animated" for="search">Buscador</label>
                        <div id="buscar-img" class="nav__buscar--logo"></div>
                    </div>
                </div>
            <!-- USUARIO -->
                <div class="nav nav__usuario">
                    {% if session["id_usuario"] %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" style="color: black;" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                {{ session["nombre"] }}
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="/cuenta" class="dropdown-item">Mi Cuenta</a></li>
                                <li><a href="/logout" class="dropdown-item">Cerrar Sesión</a></li>
                            </ul>
                        </li>
                    {% else %}
                        <button class="btn btn-primary btn-bd-primary nav__usuario--btn" type="button" data-bs-toggle="modal" data-bs-target="#login" >
                            <span>
                                <img class="nav__usuario--logo" src="https://cdn.icon-icons.com/icons2/933/PNG/512/round-account-button-with-user-inside_icon-icons.com_72596.png" loading="lazy">
                                Iniciar Sesión
                            </span>
                        </button>
                    {% endif %}
                <!-- CARRO -->
                    <div class="nav__usuario--carrito">
                        <a href="/carro">
                            <img src="https://cdn.icon-icons.com/icons2/1369/PNG/512/-shopping-cart_90604.png" alt="Carrito" loading="lazy">
                            <div class="nav__usuario--contador">{{ session.get("productos_carro_count", 0) }}</div>
                        </a>
                    </div>
                </div>
            </nav>
<!-- MENU -->
            <div class="menu">
                <div>
                    <a href="/productos">
                        PRODUCTOS
                    </a>
                </div>
                <div>
                    <a href="/">
                        ARMÁ TU PC
                    </a>
                </div>
                <div>
                    <a href="/ayuda">
                        AYUDA
                    </a>
                </div>
                <div class="dropdown">
                    <a href="#" class="" data-bs-toggle="dropdown" aria-expanded="false">
                        MARCAS SPONSOR
                    </a>
                    <ul class="dropdown-menu">
                        <li class="p-2"><a class="dropdown-item" href="https://www.intel.la/content/www/xl/es/homepage.html">
                            <img src="/static/image/intel.png" alt="intel">
                        </a></li>
                        <li class="p-2"><a class="dropdown-item" href="https://www.westerndigital.com/es-la">
                            <img src="/static/image/wd.png" alt="wd black">
                        </a></li>
                        <li class="p-2"><a class="dropdown-item" href="https://row.hyperx.com/es/">
                            <img src="/static/image/hyperx.png" alt="hyperx">
                        </a></li>
                        <li class="p-2"><a class="dropdown-item" href="https://rog.asus.com/">
                            <img src="/static/image/rog.png" alt="replublic of gamer">
                        </a></li>
                        <li class="p-2"><a class="dropdown-item" href="https://www.amd.com/es.html">
                            <img src="/static/image/amd.png" alt="amd">
                        </a></li>
                        <li class="p-2"><a class="dropdown-item" href="https://www.nvidia.com/es-la/">
                            <img src="/static/image/nvidia.png" alt="nvidia">
                        </a></li>
                    </ul>
                </div>
            </div>
        </header>
        <main>
<!-- LOGIN -->
            {% if not session["id_usuario"] %}
            <div class="modal fade" id="login" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
                <div id="login-error" class="error-form"></div>
                <div class="modal-dialog modal-dialog-centered login">
                    <div class="modal-content login-content">
                        <button type="button" class="btn-close login-btn-close shadow-off" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                        <div class="modal-body login-body">
                            <div class="login-titulo">
                                <h4>Iniciar sesión</h4>
                                <small>Para comenzar ingrese su usuario</small>
                            </div>
                            <form id="login-form" action="/login" method="POST">
                                <div class="form-floating mb-3">
                                    <input name="username" class="form-control login-control shadow-off"  autocomplete="off" autofocus type="text" placeholder="Usuario" required>
                                    <label class="label-animated" for="username">Usuario</label>
                                </div>
                                <div class="form-floating mb-3">
                                    <input name="password" class="form-control login-control shadow-off"  autocomplete="off" autofocus type="password" placeholder="Contraseña" required>
                                    <label class="label-animated" for="password">Contraseña</label>
                                </div>
                                <br>
                            <!-- BTN -->
                                <div class="login-footer">
                                    <button type="submit" class="btn btn-bd-primary">CONTINUAR</button>
                                    <button type="button" class="btn btn-crear-cuenta" data-bs-target="#register" data-bs-toggle="modal">CREAR CUENTA</button>
                                    <br>
                                    <div class="modal-footer">
                                        <small>Si tenés problemas para iniciar sesión escribinos a feedback_nuevapagina@compragamer.net</small>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
<!-- REGISTER -->
            <div class="modal fade" id="register" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
                <div id="register-error" class="error-form"></div>
                <div class="modal-dialog modal-dialog-centered login">
                    <div class="modal-content login-content">
                        <button type="button" class="btn-close login-btn-close shadow-off" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                        <div class="modal-body login-body">
                            <div class="login-titulo">
                                <h4>Registrarse</h4>
                                <small>Ingresá tus datos para crear tu cuenta</small>
                            </div>
                            <br>
                            <form id="register-form" action="/register" method="POST" class="row g-3">
                                <div class="form-floating mb-3 col-md-6">
                                    <input name="name" class="form-control login-control shadow-off"  autocomplete="off" autofocus type="text" placeholder="Usuario" required>
                                    <label class="label-animated" for="username">Nombre</label>
                                </div>
                                <div class="form-floating mb-3 col-md-6">
                                    <input class="form-control login-control shadow-off"  autocomplete="off" autofocus type="password" placeholder="Usuario" disabled readonly value="*****">
                                    <label class="label-animated" for="username">Apellido</label>
                                </div>
                                <div class="form-floating mb-3">
                                    <input name="username" class="form-control login-control shadow-off"  autocomplete="off" autofocus type="text" placeholder="Usuario" required>
                                    <label class="label-animated" for="username">Usuario</label>
                                </div>
                                <h5>Teléfono de contacto</h5>
                                <div class="form-floating mb-3 col-md-4">
                                    <input class="form-control login-control shadow-off"  autocomplete="off" autofocus type="password" placeholder="Contraseña" disabled readonly value="*****">
                                    <label class="label-animated" for="password">Código de área</label>
                                </div>
                                <div class="form-floating mb-3 col-md-8">
                                    <input class="form-control login-control shadow-off"  autocomplete="off" autofocus type="password" placeholder="Contraseña" disabled readonly value="*****">
                                    <label class="label-animated" for="password">Número de telefono</label>
                                </div>
                                <div class="form-floating mb-3 col-md-6">
                                    <input name="password" class="form-control login-control shadow-off"  autocomplete="off" autofocus type="password" placeholder="Contraseña" required>
                                    <label class="label-animated" for="password">Contraseña</label>
                                </div>
                                <div class="form-floating mb-3 col-md-6">
                                    <input name="password2" class="form-control login-control shadow-off"  autocomplete="off" autofocus type="password" placeholder="Contraseña" required>
                                    <label class="label-animated" for="password">Repetir contraseña</label>
                                </div>
                                <br>
                            <!-- BTN -->
                                <div class="login-footer">
                                    <button type="submit" class="btn btn-bd-primary">REGISTRARME</button>
                                    <br>
                                    <div class="modal-footer" style="justify-content: center;">
                                        <small>¿Ya tenés cuenta? Inicia sesión <a style="color: #627afe;" type="button" data-bs-target="#login" data-bs-toggle="modal">aca</a></small>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            {% block main %}

            {% endblock %}
        </main>
<!-- SPONSORS -->
        <div class="sponsors">
            <div>
                <img class="sponsor" src="https://imagenes.compragamer.com/marcas/imagen_marca_316_9_591.png" class="d-block w-100" loading="lazy">
            </div>
            <div>
                <img class="sponsor" src="https://imagenes.compragamer.com/marcas/imagen_marca_371_9_755.jpg" class="d-block w-100" loading="lazy">
            </div>
            <div>
                <img class="sponsor" src="https://imagenes.compragamer.com/marcas/imagen_marca_320_9_411.jpg" class="d-block w-100" loading="lazy">
            </div>
        </div>
<!-- FOOTER -->
        <footer>
            <div class="footer">
            <!-- FOOT 1 -->
                <div class="foot foot__1">
                    <img class="foot__1--img foot--img" src="https://www.afip.gob.ar/images/f960/DATAWEB.jpg" alt="data fiscal" loading="lazy">
                </div>
            <!-- FOOT 2 -->
                <div class="foot foot__2">
                    <a href="/ayuda"><button type="button" class="btn btn-primary foot__2--btn1">Ayuda</button></a>
                    <a href="/"><button type="button" class="btn btn-primary foot__2--btn2">Botón de arrepentimiento</button></a>
                    <a href="/">Términos y condiciones</a>
                </div>
            <!-- FOOT 3 -->
                <div class="foot foot__3">
                    <h5>Seguinos en</h5>
                    <div class="foot__redes">
                        <a href="https://www.linkedin.com/in/agustin-fizzano/">
                            <div class="cbtn">
                                    <img class="img" src="/static/image/linkedin.png" alt="linkedin" loading="lazy">
                            </div></a>
                        <a href="https://www.github.com/TutozGhub">
                            <div class="cbtn">
                                    <img class="img" src="/static/image/github.png" alt="github" loading="lazy">
                            </div></a>
                    </div>
                </div>
            <!-- FOOT 4 -->
                <div class="foot foot__4">
                    <img class="foot__4--img foot--img" src="https://compragamer.com.ar/PatchRouterSection/assets/icons/gptw.svg" alt="certificado" loading="lazy">
                    <a href="/">¡Trabajá con nosotros!</a>
                </div>
            </div>
        </footer>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="/static/js/base.js"></script>
        {% block script_f %} 
            
        {% endblock %} 
    </body>
</html>