{% extends 'base.html' %} 

{% block script_h %}
<!-- <script src="/static/js/aviso.js"></script> -->
{% endblock %}

{% block main %}
<div id="eventos" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        {% for i in images %}
                <div class="carousel-item {% if loop.index == 1 %} active {% endif %}">
                    <img src="{{ i['imagen'] }}" class="d-block w-100" loading="lazy"/>
                </div>
        {% endfor %}
    </div>
    <div class="carousel-indicators">
        {% for i in images %}
            <button
            type="button"
            data-bs-target="#eventos"
            data-bs-slide-to="{{ loop.index - 1 }}"
            aria-label="Slide {{ loop.index - 1 }}"
        {% if loop.index == 1 %}
            class="active"
        {% endif %}
            ></button>
        {% endfor %}
    </div>
</div>
</div>
<div style="margin: 3rem;">
    <p><strong>ÚLTIMAS NOVEDADES</strong></p>
    <hr>
    <div class="novedades">
        {% for p in productos %}
        <div class="card card-ultimos">
            <a href="/producto?id={{ p['id'] }}">
                <img src="{{ p['imagen'] }}" class="card-img-top" alt="{{ p['nombre'] }}" loading="lazy">
                <div class="card-body ultimos-body">
                    <small class="card-text">
                        {{ p['nombre'] | Tmax(89) }}
                    </small>
                </div>
                <p class="ultimo-precio">{{ p['precio'] | M }}</p>
            </a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
