{% extends 'base.html' %} 

{% block script_h %}
<!-- <script src="/static/js/aviso.js"></script> -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
{% endblock %}

{% block main %}
<!-- SPONSORS -->
<div id="eventos" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        {% for i in images %}
                <div class="carousel-item {% if loop.index == 1 %} active {% endif %}">
                    <img src="{{ i['imagen'] }}" class="d-block w-100" loading="lazy"/>
                </div>
        {% endfor %}
    </div>
    <div class="carousel-indicators">
        {% for i in images %}
            <button
            type="button"
            data-bs-target="#eventos"
            data-bs-slide-to="{{ loop.index - 1 }}"
            aria-label="Slide {{ loop.index - 1 }}"
        {% if loop.index == 1 %}
            class="active"
        {% endif %}
            ></button>
        {% endfor %}
    </div>
</div>
<!-- PRODUCTOS -->
<div class="swiper mySwiper m-5"
    <p><strong>ÚLTIMAS NOVEDADES</strong></p>
    <hr>
    <div class="swiper-wrapper novedades">
        {% for p in productos %}
        <div class="card swiper-slide card-ultimos">
            <a href="/producto?id={{ p['id'] }}">
                <img src="{{ p['imagen'] }}1.png" class="card-img-top" alt="{{ p['nombre'] }}" loading="lazy">
                <div class="card-body ultimos-body">
                    <small class="card-text">
                        {{ p['nombre'] | Tmax(89) }}
                    </small>
                </div>
                <p class="ultimo-precio precio m-0 mt-auto mb-2">{{ p['precio'] | M }}</p>
            </a>
        </div>
        {% endfor %}
    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
</div>
{% endblock %}

{% block script_f %}
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script>
    var swiper = new Swiper(".mySwiper", {
        slidesPerView: 'auto',
        spaceBetween: 25,
        centerSlide: 'true',
        loop: true,
        navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev",
        },
    });
    </script>
{% endblock %}