{% extends 'index.html' %}
{% block main %}
    <div class="modal fade" id="login" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered login">
            <div class="modal-content login-content">
                <button type="button" class="btn-close login-btn-close shadow-off" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                <div class="modal-body login-body">
                    <div class="login-titulo">
                        <h4>Iniciar sesión</h4>
                        <small>Para comenzar ingrese su usuario</small>
                    </div>
                    <form action="/" method="POST">
                        <div class="form-floating mb-3">
                            <input name="username" class="form-control login-control shadow-off"  autocomplete="off" autofocus type="text" placeholder="Usuario" required>
                            <label class="label-animated" for="username">Usuario</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input name="password" class="form-control login-control shadow-off"  autocomplete="off" autofocus type="password" placeholder="Contraseña" required>
                            <label class="label-animated" for="password">Contraseña</label>
                        </div>
                        <br>
                        <div class="login-footer">
                            <button type="submit" class="btn btn-bd-primary">CONTINUAR</button>
                            <button type="button" class="btn btn-crear-cuenta">CREAR CUENTA</button>
                            <br>
                            <div class="modal-footer">
                                <small>Si tenés problemas para iniciar sesión escribinos a feedback_nuevapagina@compragamer.net</small>
                            </div>
                        </div>
                    </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}