{% extends 'base.html' %}

{% block main %}
<div class="contenido mt-3 mb-5">
<!-- BANNER -->
    <div class="banner mb-4">
        <div class="scat">
            <h3>
                {{ scat }}
            </h3>
        </div>
        <img src="https://imagenes.compragamer.com/bannerSubcategoria/subcategoria_default.jpg" alt="destacados" loading="lazy">
    </div>

<!-- CLUSTER -->
    <div class="cluster">
        <div class="accordion accordion-flush categorias acordeon-mod">
        <!-- CATEGORIAS --> 
            <div class="accordion-item sombra">
                <h2 class="accordion-header">
                    <button class="accordion-button shadow-off" type="button" data-bs-toggle="collapse" data-bs-target="#categorias" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                        Categorías
                    </button>
                </h2>
                <div id="categorias" class="accordion-collapse collapse show" aria-labelledby="categorias">
                    <div class="accordion-body p-1">
                        <div class="accordion accordion-flush" id="subcategorias">
                            {% for c in cats %}
                                <div class="accordion-item">
                                    <h2 class="accordion-header">
                                        <button class="accordion-button {% if c['id'] != id_cat %} collapsed {% endif %} shadow-off" type="button" data-bs-toggle="collapse" data-bs-target="#subcat_{{ c['id'] }}" aria-expanded="false" aria-controls="flush-collapseTwo">
                                            {{ c['nombre'] }}
                                        </button>
                                    </h2>
                                    <div id="subcat_{{ c['id'] }}" class="accordion-collapse collapse {% if c['id'] == id_cat %} show {% endif %} " data-bs-parent="#subcategorias">
                                        {% for sc in subcats %}
                                            {% if c['id'] == sc['id_categoria'] %}
                                            <p class="mt-2 mx-4">
                                                <small><small>
                                                    <a href="?subcategoria={{ sc['id'] }}" class="{% if id_scat == sc['id'] %} principal {% endif %}">
                                                        - {{  sc['nombre']  }}
                                                    </a>
                                                </small></small>
                                            </p>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        <!-- FILTROS -->
        {% if not search %}
            <div class="accordion-item mt-2 sombra">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed shadow-off" type="button" data-bs-toggle="collapse" data-bs-target="#filtros" aria-expanded="false" aria-controls="panelsStayOpen-collapseOne">
                        Filtros
                    </button>
                </h2>
                <div id="filtros" class="accordion-collapse collapse" aria-labelledby="filtros">
                    <div class="accordion-body p-2">
                        <select name="marca" id="marca_filtro" class="form-select shadow-off">
                            <option value="-1">Todas</option>
                            {% for m in marcas %}
                                <option value="{{ m['id'] }}">{{ m['nombre'] }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>

<!-- PRODUCTOS -->
        <div class="productos">
            <!-- ORDERBY -->
            <div class="card ms-2 mb-2 p-2 orderby">
                <select name="orderby" id="orderby">
                    {% for o in orders %}
                        <option value="{{ o['value'] }}"{% if o['value'] == orderby %}selected{% endif %}>{{ o['text'] }}</option>
                    {% endfor %}
                </select>
            </div>
            {% for p in productos %}
                <div class="card ms-2 mb-2 p-2 card-producto">
                    <a class="my-auto" href="/producto?id={{ p['id'] }}">
                        <img src="{{ p['imagen'] }}1.png" class="card-img-top mx-2" alt="{{ p['nombre'] }}" loading="lazy">
                    </a>
                    <div class="card-body producto-body p-1 ps-3">
                        <a class="mx-0" href="/producto?id={{ p['id'] }}">
                            {{ p['nombre'] | Tmax(100) }}
                        </a>
                        <p class="precio mt-2">{{ p['precio'] | M }}</p>
                        <form action="/producto" method="POST" class="producto-div-btn">
                            <button value="{{ p['id'] }}" class="btn btn-bd-primary nav__usuario--btn sumar-carro-ajax" type="submit">
                                    SUMAR AL CARRITO
                            </button>
                        </form>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}

{% block script_f %}
    <script src="/static/js/filtros_productos.js"></script>
{% endblock %}