{% extends 'base.html' %}

{% block main %}
<div class="producto">
    <div class="producto-div producto-img">
        <img src="{{ producto['imagen'] }}" alt="foto">
    </div>
    <div class="producto-div producto-info">
        <h4>{{ producto['nombre'] }}</h4>
        <small><small>{{ producto['categoria'] }} > {{ producto['subcategoria'] }} > {{ producto['marca'] }}</small></small>
        <hr>
        <button type="button" class="btn producto-id"><small><small>ID: {{ producto['id'] }}</small></small></button>
        <hr>
        
        <div class="precio-div">
            <div class="producto-div-precio">
                <div class="producto-precio">
                    <small class="precio"><small>PRECIO ESPECIAL
                        <svg fill="#4675b9" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="15px" height="15px" fit="" preserveAspectRatio="xMidYMid meet" focusable="false">    <path d="M 12 2 C 6.4889971 2 2 6.4889971 2 12 C 2 17.511003 6.4889971 22 12 22 C 17.511003 22 22 17.511003 22 12 C 22 6.4889971 17.511003 2 12 2 z M 12 4 C 16.430123 4 20 7.5698774 20 12 C 20 16.430123 16.430123 20 12 20 C 7.5698774 20 4 16.430123 4 12 C 4 7.5698774 7.5698774 4 12 4 z M 11 7 L 11 9 L 13 9 L 13 7 L 11 7 z M 11 11 L 11 17 L 13 17 L 13 11 L 11 11 z"></path></svg>
                        <p class="precio prodcuto-precio-valor">
                    </small></small>
                        <strong>{{ producto['precio'] | M }}</strong>
                    </p>
                </div>
            </div>
            <img class="producto-pagogamer" src="/static/image/pago gamer.jpg" alt="pago gamer">
        </div>
        <hr>
            <div class="garantias">
                <p>
                    <img src="/static/image/seguridad.png" alt="garantia">
                    Garantía - 12 meses
                </p>
                <p>
                    <img src="/static/image/stock.png" alt="stock">
                    Stock disponible
                </p>
                <p>
                    <img src="/static/image/envio.png" alt="envio">
                    Envíos a todo el país.
                </p>
            </div>
        <hr>
        <div class="producto-div-btn">
            <button class="btn btn-bd-primary nav__usuario--btn" type="button">
                <span>
                    SUMAR AL CARRITO
                </span>
            </button>
        </div>
        
    </div>
</div>
<div>
    
</div>
{% endblock %}