{% extends 'base.html' %}

{% block main %}
<div class="m-2 p-2">
    <div class="producto">
    <!-- FOTO -->
        <div class="producto-div producto-img">
            <img id="expositor" src="{{ imgs[0] }}" alt="foto" loading="lazy">
            <div>
                <p class="fotos-count"><span>{{ producto['cantidad_imagenes'] }} fotos</span></p>
            </div>
            <div class="miniaturas-div">
                {% for i in imgs %}
                    <img id="miniatura_{{ loop.index }}" class="miniatura_ajax p-1 {% if loop.index == 1 %}miniatura-select{% endif %}" src="{{ i }}" alt="foto" loading="lazy">
                {% endfor %}
            </div>
        </div>
    <!-- INFO -->
        <div class="producto-info">
        <!-- TITULO -->
            <h4>{{ producto['nombre'] }}</h4>
            <small><small>{{ producto['categoria'] }} > {{ producto['subcategoria'] }} > {{ producto['marca'] }}</small></small>
            <hr>
        <!-- ID -->
            <button type="button" class="btn producto-id"><small><small>SKU: BX8071514400F</small></small></button>
            <button type="button" class="btn producto-id"><small><small>ID: {{ producto['id'] }}</small></small></button>
            <hr>
            
        <!-- PRECIO -->
            <div class="precio-div">
                <div class="producto-div-precio">
                    <div class="producto-precio">
                        <small class="precio"><small>PRECIO ESPECIAL
                            <svg fill="#4675b9" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="15px" height="15px" fit="" preserveAspectRatio="xMidYMid meet" focusable="false">    <path d="M 12 2 C 6.4889971 2 2 6.4889971 2 12 C 2 17.511003 6.4889971 22 12 22 C 17.511003 22 22 17.511003 22 12 C 22 6.4889971 17.511003 2 12 2 z M 12 4 C 16.430123 4 20 7.5698774 20 12 C 20 16.430123 16.430123 20 12 20 C 7.5698774 20 4 16.430123 4 12 C 4 7.5698774 7.5698774 4 12 4 z M 11 7 L 11 9 L 13 9 L 13 7 L 11 7 z M 11 11 L 11 17 L 13 17 L 13 11 L 11 11 z"></path></svg>
                            <p class="precio prodcuto-precio-valor">
                        </small></small>
                            <strong>{{ producto['precio'] | M }}</strong>
                        </p>
                    </div>
                </div>
        <!-- PAGO GAMER -->
                <div class="container text-center producto-pagogamer">
                    <div class="grid1-pagogamer mt-2">
                        <div>
                            <img src="https://compragamer.com.ar/PatchRouterSection/assets/img/pgold.png" alt="">
                        </div>
                        <div class="color-pagogamer ld">
                            <small class="m-0">12 CUOTAS SIN INTERÉS DE</small>
                            <p>{{ (producto['precio'] / 7.274) | M }}</p>
                        </div>
                    </div>
                    <div class="grid2-pagogamer">
                        <div>
                            <a href="">Ver cuotas</a>
                        </div>
                        <div>
                            <small class="m-0">PRECIO DE LISTA</small>
                            <p>{{ (producto['precio'] * 1.65) | M }}</p>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <!-- GARANTIAS -->
                <div class="garantias">
                    <p>
                        <img src="/static/image/seguridad.png" alt="garantia" loading="lazy">
                        Garantía - 12 meses
                    </p>
                    <p>
                        <img src="/static/image/stock.png" alt="stock" loading="lazy">
                        Stock disponible
                    </p>
                    <p>
                        <img src="/static/image/envio.png" alt="envio" loading="lazy">
                        Envíos a todo el país.
                    </p>
                </div>
            <hr>
            <!-- BTN -->
            <form action="/producto" method="POST" class="producto-div-btn">
                <button value="{{ producto['id'] }}" class="btn btn-bd-primary nav__usuario--btn sumar-carro-ajax" type="submit">
                        SUMAR AL CARRITO
                </button>
            </form>
            
        </div>
    </div>
    <div class="container">
    <!-- BOTONES DE FORMULARIO -->
        <button id="btn-especificaciones" class="text-uppercase btn-menu-producto">especificaciones</button>
        <button id="btn-preguntas" class="text-uppercase btn-menu-producto">preguntas</button>

    <!-- ESPECIFICACIONES -->
        <div id="especificaciones" class="row row-cols-auto producto-ajax">
            {% for e in especificaciones %}
                <div class="col mt-4 col-especificaciones">
                    <h6 class="text-uppercase caracteristicas">{{ e }}</h6>
                    <table class="table table-striped ">
                        {% for i in especificaciones[e] %}
                            <tr>
                                <td class="fw-bold p-0 px-1"><small>{{i}}</small></td>
                                <td class="text-end p-0 px-1"><small>{{especificaciones[e][i]}}</small></td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            {% endfor %}
        </div>
    <!-- PREGUNTAS -->
        <div id="preguntas"class="producto-ajax mt-4">
            <div>
                <h5><strong>¿Tenés preguntas sobre el producto?</strong></h5>
                {% if session['id_usuario'] %}
                    <p><small>Escribí tu pregunta</small></p>
                    <textarea class="form-control shadow-off" id="pregunta" rows="3"></textarea>
                    <div class="d-flex">
                    <button id="preguntar" class="btn btn-primary btn-bd-primary text-uppercase ms-auto mt-3" type="submit">
                        <small class="px-4">Enviar consulta</small>
                    </button>
                    </div>
                {% else %}
                    <p><small>Iniciá sesión en tu cuenta para poder hacer una pregunta</small></p>
                    <button class="btn btn-primary btn-bd-primary nav__usuario--btn" type="button" data-bs-toggle="modal" data-bs-target="#login" >
                        <span>
                            <img class="nav__usuario--logo" src="https://cdn.icon-icons.com/icons2/933/PNG/512/round-account-button-with-user-inside_icon-icons.com_72596.png" loading="lazy">
                            Iniciar Sesión
                        </span>
                    </button>
                {% endif %}
            </div>
            <div class="my-3">
                {% if preguntas %}
                    <h5 class="principal">Otros usuarios consultaron</h6>
                {% endif %}
                {% for p in preguntas %}
                    <div class="pregunta mt-2">
                        <div>
                            <img class="pregunta-img" src="https://cdn.icon-icons.com/icons2/933/PNG/512/round-account-button-with-user-inside_icon-icons.com_72596.png" loading="lazy">
                        </div>
                        <div class="pregunta-body">
                            <p class="text-start"><small>{{ p['pregunta'] }}</small></p>
                            <p class="text-end m-1">{{ p['fecha'] }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script_f %}
    <script src="/static/js/producto.js"></script>
{% endblock %}